#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 800px;
}
#slides_control {
  position:absolute;
  width: 800px;
  left:35%;
  top:20px;
  margin-left:-200px;
}
.footer-block {
    margin-top: 1em;
    text-align: center;
    color: #9d9d9d;
}