.div-training {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background-attachment: fixed;
  background-size: cover;
}
.div-training.container-fluid{
  background-color: #e9322d;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}
.absolute-container {
  position: absolute;
}
h1 {
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  line-height: normal;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}
.fa.fa-angle-down{
  color: #ffffff;
}
.fa.fa-angle-down:hover{
  color: #000000;
}
@media (max-width: 1800px) {
  .make-it-down {
    margin-top: 35em;
  }
}
@media (max-width: 600px) {
  .make-it-down {
    margin-top: 35em;
  }
}
@media (max-width: 600px) {
  .make-it-down {
    margin-top: 35em;
  }
}

